.intro {
    text-align: center;
    font-size: 20px
}
#zen-preamble {
    text-align: center;
    position: static;
}
.design-selection {
    padding: 20px;
    border-style: dotted;
}
h1 {
    color: #6CBBE4;
    font-weight: bold;
    text-decoration: underline;
    margin: 80px;
    background-color: #B232B2;
    border-style: solid;
    border-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-radius: 25px 25px 25px 25px;
}
h2 {   
    font-weight: normal;
    font-size: 1.2em;
    margin: 5px;
    padding: 40px;
    text-decoration: line-through;
}
h3 {
    border-style: solid;
    border-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-radius: 25px 25px 25px 25px;
    border-color: #6CBBE4;
    text-align: center;
}
body {
    font-family: sans-serif, Helvetica, "Times New Roman";
    font-size: 16px;
    color: #6CBBE4;
    background-image: url('https://wallpaperscraft.com/image/minimalism_sky_clouds_sun_mountains_lake_landscape_95458_1920x1080.jpg');
    line-height: 1.2;
    text-align: center;
}
a:link {
    color: #3EE6EF;
}

a:visited {
    color: #DCC454;
}
footer {
    color: #6CBBE4;
    font-weight: bold;
    text-decoration: overline;
    font-size: 12px
}